BarcodeGenerator/.vs/BarcodeGenerator/CopilotIndices
BarcodeGenerator/.vs/BarcodeGenerator/DesignTimeBuild
BarcodeGenerator/.vs/BarcodeGenerator/FileContentIndex
BarcodeGenerator/.vs/BarcodeGenerator/v17
BarcodeGenerator/.vs/ProjectEvaluation
BarcodeGenerator/BarcodeGenerator/bin/Debug
BarcodeGenerator/BarcodeGenerator/obj/Debug
BarcodeGenerator/BarcodeGenerator/obj
