@page
@model MokebManagerV2.Web.Pages.AdminPanelModel
@{
}

<div class="container" style="text-align:center;">
	<img src="~/layout-libs/img/APP/ChatGPT Image Jun 12, 2025, 10_19_16 AM.png" alt="" 
	style="width:50%;"/>
</div>